<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!--row main-nadpis bude nad main-login-->
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Vitajte v app {{title}}</h1>
      </div>
    </div>

    <div class="main-login">
      <form class="form-horizontal" method="post" action="#">

        <div class="udaje">
          <label for="login" class="cols-sm-2 control-label">Login</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="login" placeholder="Zadajte svoje prihlasovacie meno" [(ngModel)]="admin.login" />
            </div>
          </div>
        </div>

        <div class="udaje">
          <label for="heslo" class="cols-sm-2 control-label">Heslo</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" name="heslo" placeholder="Zadajte svoje prihlasovacie heslo" [(ngModel)]="admin.heslo" />
            </div>
          </div>
        </div>

        <div class="udaje">
          <button type="button" class="btn btn-primary btn-lg btn-block login-button">Prihlásiť</button>
          <!--Ak sa prihlasi ma sa mu zobraziť admin okno-->
          <app-admin></app-admin>
        </div>

        <!--Môže sa dorobiť registračny formular-zatialodkazuje na tu istu stranku-oni ho pôvodne nemajú vôbec-->
        <div class="login-register">
          <a href="index.php">Registrovať</a>
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript" src="assets/js/bootstrap.js"></script>