body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #96dbd8;
    font-family: 'Noto Sans', 'sans-serif';
}

.main{
    margin-top: 70px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Noto Sans'; 
    font-weight: 200; 
}

.udaje{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

/*to je to kde vyplnas udaje-len aby sme potom vedeli čo sa vkladá do labelov (id, name atd), odsadenie a velkost je pre text vo vnutri*/
input,
input::-webkit-input-placeholder {
    font-size: 12px;
    padding-top: 4px;
}

/*prihlasovacia tabulka*/
.main-login{
    background-color: rgb(202, 223, 226);
    /*graf.nastavenia, zaoblenie a tien*/
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(67, 96, 114, 0.3);
    margin-top: 50px;
    margin: 0 auto;
    max-width: 400px;
    padding: 50px 50px;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 15px;
    text-align: center;
}
